footer {
  width: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  color: #fcf951ff;
  background-color: #669db3ff;
}
.chris {
  color: #a13941ff;
}

.dayna {
  color: #9fc131ff;
}

.don {
  color: #e3c9ceff;
}
.rami {
  color: #008c76ff;
}
